@media (max-width: 1000px) {
  html,
  body {
    height: 70%;
  }
  .about h1,
  .contact h1,
  .mainPicture h1 {
    font-size: 30px !important;
  }

  .about h2,
  .contact h2,
  .terminal h2 {
    font-size: 20px;
  }
  .copyright h3 {
    font-size: 15px;
  }
  .terminal {
    padding-left: 10% !important;
    font-size: 15px !important;
    height: 400px !important;
  }
  #bigWrapper {
    display: none;
  }
}

/* DIV SCROLL ANIMATION */

.js-scroll {
  opacity: 0;
  transition: 1000ms;
}

.scrolled {
  opacity: 1;
}

.scrolled.fade-in-bottom {
  animation: fade-in-bottom 1s ease-in-out both;
}

@keyframes fade-in-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* MAIN PICTURE */

.mainPicture {
  /* Full height */
  height: 100% !important;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome {
  top: 30%;
  color: white;
  position: relative;
  margin-left: 5% !important;
}

.welcome h1 {
  font-weight: 700;
  font-size: 5vw;
  opacity: 0.8;
  text-shadow: 5px 5px 10px black;
}

/* ABOUT DIV */

.about {
  margin: 10%;
  text-align: center;
}

.about h1 {
  display: inline;
}

/* CONTACT DIV */

.contact {
  transform: skewY(2deg);
  background-color: #cce6ff;
  padding: 10%;
  text-align: center;
}

.contact h1 {
  padding-bottom: 20px;
  display: inline;
}

.mediaIcon {
  background-color: white;
  padding: 10px;
  padding-top: 30px;
}

.mediaIcon i {
  font-size: 50px;
}

.mediaIcon a {
  padding: 5px;
}

/* COPYRIGHT DIV */

.copyright {
  padding: 5%;
  text-align: center;
}

/* TERMINAL */
.blink {
  animation: 1s linear infinite condemned_blink_effect;
}

@keyframes condemned_blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

#wrapper {
  max-width: 70%;
  margin: 0px auto;
  font-family: "Fira Code", monospace !important;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #2d2d2d;
  overflow: hidden;
}

#title-bar {
  height: 30px;
  background-color: #1e1e1e;
  color: white;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

#code-container {
  padding: 10px;
}

pre,
code {
  font-family: "Fira Code", monospace !important; /* Override Prism CSS with !important */
}

.fa-xmark:hover,
.fa-window-maximize:hover,
.fa-window-minimize:hover {
  color: red;
  cursor: pointer;
}

/* Optional: For better spacing between the window control icons */
#title-bar i {
  margin-left: 10px;
}
