@media (max-width: 1000px) {
  html,
  body {
    height: 70%;
  }
  .responsive_phone {
    width: 90% !important;
  }
}

/* MAIN PICTURE */

.mainPicture {
  width: 100%;
  max-height: 100%;
}

/* PARAGRAPH */

.paragraph {
  padding: 7%;
  font-size: 20px;
}

.paratitle {
  background-color: #5b6d8a;
  text-align: center;
}

.paratitle h2 {
  color: white;
}

/* RESPONSIVE PHONE */
.responsive_phone {
}

pre {
  margin-bottom: 0px !important;
}
