html, body
{
    height: 100%;
    word-wrap: break-word;
}

@media (max-width: 1000px) {
    html, body
    {
        height: 70%;
    }
    
}


/* NAVIGATION BAR */

.navbar {
    padding-top:0px !important;
    padding-bottom:0px !important;
    background-color: black;
    transition: 0.2s;
    position:sticky;
    opacity:0.9;
}

.navmain {
    padding-top:15px;
    padding-bottom:8px;
    transition: 0.2s;
}

.custom-toggler.navbar-toggler {
    border-color: #0073e6 !important;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(128, 191, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navtransition {
    padding-top:8px;
    top:0px;
    transition: 0.2s;
}

.navitem {
    padding-right:20px;
    font:Arial;
    font-size:20px;
    margin-bottom:4px;
}

.navitem a {
    color:white !important;
    border-bottom-color: #0080ff;
    text-decoration: none !important;
    cursor: pointer;
}

.navitem a:hover {
    color:white;
    text-decoration: none;
    border-bottom-style: solid;
    transition: 0.2s;
}

/* MAIN PICTURE */

.mainPicture {
    background-image: url('mainPic.jpg');
    /* Full height */
    height:100% !important;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* PARAGRAPH */

.paragraph {
    padding:7%;
    font-size:20px;
}

.paratitle {
    background-color:#1a53ff;
    text-align:center;
}

.paratitle h2 {
    color:white;
}